extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset password
            form.form--reset
                .form__group
                    label.form__label(for='token') Please, paste reset token from email
                    input#token.form__input(type='text', placeholder='token', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') New password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password__confirm') Confirm password
                    input#password__confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Reset password